name: Build and Push Docker Image
on:
  push:
    branches:
      - main
jobs:
  build-and-push-to-ghcr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.PAT }}
      - name: Build Docker image
        working-directory: protocol-simulator
        run: |
          docker build -t ghcr.io/jonathanvil/protocol-visualizer:latest .
      - name: Push Docker image
        working-directory: protocol-simulator
        run: |
          docker push ghcr.io/jonathanvil/protocol-visualizer:latest
